---
import type { SiteMeta } from "@/types";
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site-config";
import DynamicTheme from '@/components/DynamicTheme.astro';
// import { ViewTransitions } from 'astro:transitions';
// <ViewTransitions />

interface Props {
  meta?: SiteMeta;
  title?: string;
  description?: string;
  articleDate?: string;
  ogImage?: string;
}

import { getEntry } from 'astro:content';
const siteSettings = await getEntry('siteSettings', 'main');
const { showFooter } = siteSettings.data;

const { meta, title, description, articleDate, ogImage } = Astro.props;

const pageTitle = title || meta?.title;
const pageDescription = description || meta?.description;
const pageArticleDate = articleDate || meta?.articleDate;
const pageOgImage = ogImage || meta?.ogImage;
---
<html lang={siteConfig.lang} data-theme="light">
	<head>
		<script is:inline>
			function getInitialTheme() {
				const savedTheme = localStorage.getItem('theme');
				return savedTheme || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
			}
			document.documentElement.dataset.theme = getInitialTheme();
		</script>
		
		<ThemeProvider />
		<BaseHead 
			title={pageTitle} 
			description={pageDescription} 
			articleDate={pageArticleDate} 
			ogImage={pageOgImage} 
		/>
		<DynamicTheme />
	</head>
	
	<body>
		<SkipLink />
		<!-- <section id="maptop" class="mapsection" style="height:100vh; z-index:12; margin:0 auto -60px auto;"><iframe id="frontmap" name="mapframe" title="location map" class="flexcheek beta" width="100vw" height="65vh" frame-border="0" scrolling="no" margin-height="0" margin-width="0" src="/intro" allow-full-screen={true} loading="eager" style={{maxWidth:'100%', width:'100vw', minHeight:'78vh', margin:'0 auto', border:'0 solid rgba(0,0,0,0.60)', borderRadius:'', pointerEvents:'', zIndex:'11'}}></iframe></section> -->
		<Header transition:persist />

			<main id="main" transition:animate="slide">
				<slot />
		</main>

		{ showFooter && (
		<Footer />
		)}
	


	<script src="../components/scrollListener.js"></script>

	</body>
	
</html>
		
